Q1. Load your dataset into python using the pandas library and save data into a
dataframe named dfi (where i is one of your datasets, for a total of 4).

In [22]:
#Load Pandas
import pandas as pd

#Salary dataframe
url = "https://raw.githubusercontent.com/data602sps/datasetspractice/main/salarydata.csv"
df_salary = pd.read_csv(url)

#NBA dataframe
url = "https://raw.githubusercontent.com/data602sps/datasetspractice/main/nba.csv"
df_nba = pd.read_csv(url)

#Kaggle Unemployment Data
#https://www.kaggle.com/datasets/justin2028/unemployment-in-america-per-us-state?select=Unemployment+in+America+Per+US+State.csv
url = "https://raw.githubusercontent.com/justin-2028/Unemployment-in-America-Per-US-State/main/Unemployment%20in%20America%20Per%20US%20State.csv"
df_unemp = pd.read_csv(url)

#NYC Dog Bites
#https://catalog.data.gov/dataset/dohmh-dog-bite-data
url = "https://raw.githubusercontent.com/johnnydrodriguez/data602_assignment6/main/DOHMH_Dog_Bite_Data.csv"
df_dogbites= pd.read_csv(url)

Q2. Preview your data by calling your dataframeâ€™s name. How many columns and rows
do you see?

In [23]:
print(df_salary.head())
print(df_nba.head())
print(df_unemp.head())
print(df_dogbites.head())

        Sate  2018 Mean Annual Wage  Unnamed: 2
0    Alabama                 90,620         NaN
1      Alaska                99,180         NaN
2     Arizona                88,800         NaN
3    Arkansas                81,430         NaN
4  California                97,110         NaN
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
   FIPS Code  State/Area  Year  Month  \
0          1     Alabama  1976      1
1          2      Alaska  1976      1
2          4     Arizona  1976      1
3          5    Arkansas  1976      1
4          6  California  1976      1

  Total Civilian Non-Institutional Population in State/Area  \
0                                       2,605,000
1                                         232,000
2                                       1,621,000
3                                       1,536,000
4                                      15,621,000

  Total Civilian Labor Force in State/Area  \
0                             1,484,555
1                               160,183
2                               964,120
3                               889,044
4                             9,774,280

   Percent (%) of State/Area's Population Total Employment in State/Area  \
0                                    57.0                   1,386,023
1                                    69.0                     148,820
2                                    59.5                     865,871
3                                    57.9                     824,395
4                                    62.6                   8,875,685

   Percent (%) of Labor Force Employed in State/Area  \
0                                               53.2
1                                               64.1
2                                               53.4
3                                               53.7
4                                               56.8

  Total Unemployment in State/Area  \
0                        98,532
1                        11,363
2                        98,249
3                        64,649
4                       898,595

   Percent (%) of Labor Force Unemployed in State/Area
0                                                6.6
1                                                7.1
2                                               10.2
3                                                7.3
4                                                9.2
   UniqueID       DateOfBite Species        Breed  Age Gender  SpayNeuter  \
0         1  January 01 2018     DOG      UNKNOWN  NaN      U       False
1         2  January 04 2018     DOG      UNKNOWN  NaN      U       False
2         3  January 06 2018     DOG     Pit Bull  NaN      U       False
3         4  January 08 2018     DOG  Mixed/Other    4      M       False
4         5  January 09 2018     DOG     Pit Bull  NaN      U       False

    Borough ZipCode
0  Brooklyn   11220
1  Brooklyn     NaN
2  Brooklyn   11224
3  Brooklyn   11231
4  Brooklyn   11224

Q3. Examine the shape of your data using the .shape command and the data types of
your columns using .dtypes.

In [24]:
#Salary Shape & Dtypes
print(df_salary.shape)
print(df_salary.dtypes)

#NBA shape & dtypes
print(df_nba.shape)
print(df_nba.dtypes)

#Unemployment shape & dtypes
print(df_unemp.shape)
print(df_unemp.dtypes)

#Dog Bites shape and dtypes
print(df_dogbites.shape)
print(df_dogbites.dtypes)

(51, 3)
Sate                      object
2018 Mean Annual Wage     object
Unnamed: 2               float64
dtype: object
(458, 9)
Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object
(29892, 11)
FIPS Code                                                      int64
State/Area                                                    object
Year                                                           int64
Month                                                          int64
Total Civilian Non-Institutional Population in State/Area     object
Total Civilian Labor Force in State/Area                      object
Percent (%) of State/Area's Population                       float64
Total Employment in State/Area                                object
Percent (%) of Labor Force Employed in State/Area            float64
Total Unemployment in State/Area                              object
Percent (%) of Labor Force Unemployed in State/Area          float64
dtype: object
(22663, 9)
UniqueID       int64
DateOfBite    object
Species       object
Breed         object
Age           object
Gender        object
SpayNeuter      bool
Borough       object
ZipCode       object
dtype: object

Q4. Use .describe() on your data. What do you notice about your data? What does this
command return?

In [25]:
# The data is summarized and returns statistical calculations  for ll  numeric values.

df_nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

Q5. Use the .head() and .tail() command - what does this do?

In [26]:
#Head prints the first 5 rows of the df
print(df_nba.head())

#Tail prints the last 5 rows of the df
print(df_nba.tail())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN